<!DOCTYPE html>
<html lang="fr" xml:lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <nav>
        {% block header %}
            <div class="line">
                    <a href="{{ path('accueil_liste') }}"       class="accueill"> Accueil</a>

                    <div class="lnk">
                    {% if ( app.user != null) %}
                        <a href="{{ path('app_logout') }}"      > Logout ({{ app.user.pseudo }})</a>
                    {% else %}
                        <a href="{{ path('app_login') }}"       > <button>Login</button></a>
                        <a href="{{ path('app_register') }}"    > <button>register</button></a>
                    {% endif %}
                    </div>
            </div>
        {% endblock %}
    </nav>


    {% block body %}
    {% endblock %}
    </body>
</html>
